@import "tailwindcss";

@theme {
  /* Buttons (main CTA), links, active states & important highlights */
  --color-primary: #8a6a63;

  /* Page background, navbar, footer & hero sections */
  --color-secondary: #0d0d0d;

  /* Cards (projects), inputs, modals & hover backgrounds */
  --color-tertiary: #262626;

  /* Body text, secondary text, icons & borders (with opacity) */
  --color-neutral: #bfbfbf;
}
