@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  /* Page background */
  --color-neutral-1: #f7f4f1;

  /* Headings, body text and borders */
  --color-neutral-2: #1e1b18;

  /* Main CTAs and sections */
  --color-primary: #a98a80;

  /* Less important buttons and info cards */
  --color-secondary: #d7ccc5;

  /* Images, highlights, hyperlinks, boxes, cards, etc. */
  --color-accent: #7a6a63;
}

[data-theme="dark"] {
  --color-neutral-1: #050505;
  --color-neutral-2: #e8e3de;
  --color-primary: #b29186;
  --color-secondary: #2a2a2a;
  --color-accent: #d0b6ab;
}

/* View transitions for theme changes */
::view-transition-group(root) {
  animation-duration: 0.7s;
  animation-timing-function: var(--expo-out);
}
::view-transition-new(root) {
  animation-name: reveal-light;
  animation-fill-mode: both;
}
::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: none;
  animation-fill-mode: both;
  z-index: -1;
}
.dark::view-transition-new(root) {
  animation-name: reveal-dark;
  animation-fill-mode: both;
}
@keyframes reveal-dark {
  from {
    clip-path: polygon(50% -71%, -50% 71%, -50% 71%, 50% -71%);
  }
  to {
    clip-path: polygon(50% -71%, -50% 71%, 50% 171%, 171% 50%);
  }
}
@keyframes reveal-light {
  from {
    clip-path: polygon(171% 50%, 50% 171%, 50% 171%, 171% 50%);
  }
  to {
    clip-path: polygon(171% 50%, 50% 171%, -50% 71%, 50% -71%);
  }
}
